 html,
 body {
     height: 100%
 }

 body {
     @extend %rob-400;
     font-size: 18px;
     line-height: normal;
     display: flex;
     flex-direction: column;
     color: #fff;
 }

 .container {
     max-width: 1300px;
     margin: 0 auto;
     padding: 0 10px;
 }