@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    padding: 20px 0 0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 540px;
    }

    &__social-list {
        display: flex;
        gap: 40px;
    }

    &__content {
        margin-left: auto;
        padding: 70px;
        background: #F8F200;
        color: #000;
        max-width: 624px;
        flex-shrink: 0;
        position: relative;
        clip-path: polygon(13% 0, 100% 0, 100% 80%, 89% 100%, 0 100%, 0 20%);
    }

    &__title {
        @extend %arh-400;
        font-size: 62px;
        line-height: normal;
        margin-bottom: 25px;
    }

    &__content-link {
        color: #F8F200;
        @extend %rob-700;
        font-size: 24px;
        line-height: 40px;
        background: #000;
        padding: 19px 50px;
    }
}

// @keyframes bg-сhange {
//     from {
//         background-image: url('../images/bg1.jpg');
//     }

//     35% {
//         background-image: url('../images/bg2.jpg');
//     }


//     70% {
//         background-image: url('../images/bg3.jpg');
//     }

//     to {
//         background-image: url('../images/bg1.jpg');
//     }
// }

// #bg {
//     position: relative;
//     background-size: cover;
// animation: bg-сhange 10s infinite;
// }
#bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@import 'media';